/**
* CSS file to hold styles that apply across the application
*/

@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400&family=Montserrat:wght@200;400;600;800&display=swap");

html,
body {
  font-family: "Montserrat", sans-serif;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  width: 100%;
  background-color: #FAF3DD;
  color: #4A4E69; 
}

div#main {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

section {
  position: relative;
  width: 100vw;
}

section.min-height {
  min-height: 100vh;
}

section.padding {
  padding: 2rem 0; 
}

section img.background {
  height: 100%;
  left: 50%;
  object-fit: cover;
  pointer-events: none;
  position: absolute;
  top: 0;
  transform: translate(-50%, 0);
  width: 100vmax;
  filter: brightness(90%);
}

h1 {
  font-family: "Cormorant Garamond", serif;
  font-size: 7rem;
  font-weight: 400;
  line-height: 0.8;
  margin: 0;
  color: #2c292c;
}

h2 {
  font-size: 2rem;
  font-weight: 400;
  margin: 0;
  padding-top: 1rem;
  color: #3f4256;
}

h3 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 0;
  color: #4A4E69;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 0;
  font-weight: 300;
  color: #22223B; 
}

p.large {
  font-size: 24px;
  color: #22223B;
}

p.small {
  font-size: 15px;
  color: #4A4E69;
}

hr {
  margin: 2.5rem;
  border-color: #9A8C98;
}

li {
  line-height: 1.7;
  color: #4A4E69;
}

li::marker {
  color: #9A8C98; 
}

a {
  color: #22223B; 
  text-decoration: none;
}

a:hover {
  color: #9A8C98; 
}

.container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 330px 300px;
  margin: 20px auto;
}

img.socialIcon {
  height: 30px;
  width: 30px;
  filter: grayscale(30%);
}
